.a_hello {
  color: inherit;
  height: 10px;
  padding: 0 5px;
  text-decoration: none;	
}
.li_hello{
	display: inline-block; 
	position: relative;
	border-right: solid 1px black; 
	color: black; 
	}
.ul_hello{
	position: absolute;
	left: 100%;
	top: 0;
	width: auto;
	display: none;
	white-space: nowrap;
}
.menu {
	li{

		@extend .li_hello;
		&:hover{
			background-color: yellow;
			ul{
				display: block;
			}
		}
		a{
			&:only-child:after { margin-left: 0; content: ''; }
			@extend .a_hello;
			&:last-of-type {
			border-right: none;}
			&:after {
			margin-left: 5px; content: '\25BC';
			}
		}
		ul{
			@extend .ul_hello;
      top: auto;
      left: 0;
      width: 100%;
			li{
				@extend .li_hello;
					border-right: none; 
					border-bottom: solid 1px black;
					display: block;
				a{
					&:hover{
					background-color: yellow;
				}
				&:after {
					margin-left: 5px; content: '\25BA'; 
				}
					&:only-child:after { margin-left: 0; content: ''; }
				}
			}
		}
	}
}