html, body {
  overflow-x: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: 0;
  outline: 0;
  vertical-align: middle;
  color: #787878; }

* {
  padding: 0;
  margin-right: 0;
  font-size: 15px; }

.header {
  padding: 10px; }
  .header .sticky {
    position: fixed;
    width: 100%;
    top: 0; }
  .header .hamburger-menu .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s; }
    .header .hamburger-menu .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s; }
      .header .hamburger-menu .overlay a:hover, .header .hamburger-menu .overlay a:focus {
        color: #f1f1f1; }
    .header .hamburger-menu .overlay .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px; }
    .header .hamburger-menu .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px; }
    @media screen and (max-height: 450px) {
      .header .hamburger-menu .overlay .overlay a {
        font-size: 20px; }
      .header .hamburger-menu .overlay .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px; } }
  .header .search_content .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s; }
    .header .search_content .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s; }
      .header .search_content .overlay a:hover, .header .search_content .overlay a:focus {
        color: #f1f1f1; }
    .header .search_content .overlay .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px; }
      .header .search_content .overlay .overlay-content .search_input {
        background: transparent;
        border-width: 0px 0px 3px;
        font-size: 40px;
        padding: 0px 120px 25px 0px;
        line-height: 48px;
        letter-spacing: 0.5px;
        border-bottom-color: #303030;
        color: #fff; }
        .header .search_content .overlay .overlay-content .search_input .search_submit {
          position: absolute;
          top: 0px;
          right: 52px;
          padding: 0px 400px 0px 0px;
          color: #fff; }
        .header .search_content .overlay .overlay-content .search_input .closebtn {
          position: absolute;
          top: 0px;
          right: -4px;
          padding: 0px 400px 0px 0px;
          font-size: 56px;
          color: #fff; }
    @media screen and (max-height: 450px) {
      .header .search_content .overlay .overlay a {
        font-size: 20px; }
      .header .search_content .overlay .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px; } }
  .header .social-media, .header .action-bar, .header .side_column .newsletter, .header .demo, .header .section_5 .footer_wrapper {
    padding-left: 20px;
    padding-right: 20px; }
    .header .social-media ul li, .header .action-bar ul li, .header .side_column .newsletter ul li, .header .demo ul li, .header .section_5 .footer_wrapper ul li {
      display: inline-block; }
      .header .social-media ul li a, .header .action-bar ul li a, .header .side_column .newsletter ul li a, .header .demo ul li a, .header .section_5 .footer_wrapper ul li a {
        color: #242424;
        margin-right: 25px; }
  .header .footer_button, .header .section_5 .back_to_top_button a, .header .section_5 .recent_post_button a {
    position: fixed;
    z-index: 9;
    bottom: 30px;
    font-size: 18px;
    line-height: 18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    text-decoration: none;
    background-color: #ffffff;
    opacity: 1;
    color: #313131;
    border-style: double;
    border-color: #929292;
    margin-bottom: 0px; }
  .header .widget_title, .header .side_column .recent_post div {
    color: #8b8b8b;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px; }
  .header .widget_subtitle, .header .section_5 .footer_wrapper .widget_footer_subtitle {
    color: #a0a0a0;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px; }
  .header .div_clear {
    clear: both; }
  .header .section_space, .header .side_column .banner_2 {
    margin: 20px 10px; }
  .header .section_align, .header .side_column .category ul {
    padding-left: 0px;
    padding-right: 0px; }
  .header .action-bar {
    margin-top: 51px;
    left: 0px; }
    .header .action-bar .header-top-logo {
      width: 100%;
      margin: 0 auto; }
      .header .action-bar .header-top-logo img {
        max-height: 127px;
        max-width: 186px;
        margin: 0 auto; }
    .header .action-bar .menu-right-icons {
      margin-left: 60%; }
      .header .action-bar .menu-right-icons ul li a {
        display: inline-block; }
  .header .navigation .menu {
    left: 0;
    top: 0;
    width: 100%;
    font-size: 2rem;
    background-color: #fff;
    padding: 3rem 0;
    text-align: center;
    animation-duration: 0.5s;
    transition: 0.5s;
    list-style-type: none; }
    .header .navigation .menu li {
      display: inline;
      margin-right: 2%;
      margin-left: 2%; }
      .header .navigation .menu li .image_logo_holder {
        padding-right: 0;
        margin-right: 5%;
        margin-left: 5%; }
        .header .navigation .menu li .image_logo_holder img {
          height: 30px; }
      .header .navigation .menu li.slide-in-out {
        text-decoration: none;
        display: inline-block;
        position: relative;
        /* prepare the position for sliding in and out */ }
        .header .navigation .menu li.slide-in-out:before {
          content: '';
          display: block;
          height: 3px;
          width: 0;
          transition: width 0s ease, background-color .5s ease;
          -webkit-transition: width 0s ease, background-color .5s ease;
          -moz-transition: width 0s ease, background-color .5s ease;
          /* position the content to the left bottom corner of the parent element to make it to slide in from left to right on hover */
          position: absolute;
          left: 0;
          bottom: 0; }
        .header .navigation .menu li.slide-in-out:after {
          content: '';
          display: block;
          height: 3px;
          width: 0;
          transition: width .5s ease;
          -webkit-transition: width .5s ease, background-color .5s ease;
          -moz-transition: width .5s ease, background-color .5s ease;
          /* position the content to the left bottom corner of the parent element to make it to slide out from left to right on hover */
          position: absolute;
          right: 0;
          bottom: 0; }
        .header .navigation .menu li.slide-in-out:hover:before {
          width: 100%;
          background: #ec6a2a;
          transition: width .5s ease;
          -webkit-transition: width .5s ease;
          -moz-transition: width .5s ease; }
        .header .navigation .menu li.slide-in-out:hover:after {
          width: 100%;
          background: transparent;
          transition: all 0s ease;
          -webkit-transition: width 0s ease;
          -moz-transition: width .0s ease; }
      .header .navigation .menu li ul.dropdown-menu {
        background-color: #333333; }
        .header .navigation .menu li ul.dropdown-menu li {
          background-color: #333333; }
          .header .navigation .menu li ul.dropdown-menu li:hover {
            display: block; }
          .header .navigation .menu li ul.dropdown-menu li a {
            color: #787878;
            padding: 6px 30px 6px 12px;
            display: inline-block; }
            .header .navigation .menu li ul.dropdown-menu li a:hover {
              color: #fff;
              background-color: #333333; }
      .header .navigation .menu li a {
        /*width: 25%;*/
        padding: .75rem 0;
        margin: 0;
        color: #333333;
        font-weight: 600;
        font-size: 15px;
        text-decoration: none; }
        .header .navigation .menu li a:after {
          margin-left: 5px;
          content: '\25BA'; }
        .header .navigation .menu li a:only-child:after {
          margin-left: 0;
          content: ''; }
    .header .navigation .menu.is-fixed {
      position: fixed;
      z-index: 100;
      animation-name: stickySlideDown;
      padding: 3rem 0;
      transition: none; }
@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
  .header .head_divider {
    display: inline-block;
    border-top-width: 2px;
    border-top-style: solid;
    overflow: hidden;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    width: 18px; }
  .header .blogPost .image_widget {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    -moz-transition: all 3s;
    -webkit-transition: all 3s;
    transition: all 3s; }
    .header .blogPost .image_widget .placeholder:hover {
      transform: scale(1.2);
      opacity: 0.7; }
  .header .blogPost .blog_thumbnail .section_align, .header .blogPost .blog_thumbnail .side_column .category ul, .header .side_column .category .blogPost .blog_thumbnail ul {
    padding-left: 0px;
    padding-right: 0px; }
  .header .side_column .text_widget .about_me .arrow_link {
    font-size: 15px;
    color: #ec6a2a;
    padding: 0px;
    text-transform: none;
    margin-right: 20px;
    border-width: 0px; }
  .header .side_column .newsletter {
    color: #666666;
    padding: 50px 40px 65px;
    background-color: #f4f4f4; }
  .header .side_column .popular_post .image_round img {
    border-radius: 50%; }
  .header .side_column .category h3 .blog-parts-header {
    display: block;
    margin-right: 15px; }
  .header .side_column .category ul {
    margin-left: 0px;
    list-style: none;
    font-weight: 500;
    font-size: 15px; }
    .header .side_column .category ul li {
      padding: 8%;
      margin-top: 10px; }
      .header .side_column .category ul li .category_widget_title {
        padding: 10;
        font-size: 15px;
        color: #fff; }
      .header .side_column .category ul li .category_widget_count {
        float: right;
        font-size: 15px;
        padding: 10;
        color: #fff; }
  .header .side_column .tag_cloud {
    zoom: 1; }
    .header .side_column .tag_cloud a {
      text-decoration: none;
      border-color: #f4f4f4;
      color: #626262;
      background-color: #f4f4f4;
      font-size: 10px !important;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      float: left;
      padding: 8px 16px 8px;
      border-width: 1px;
      border-style: solid;
      margin-right: 6px;
      margin-bottom: 6px; }
  .header .side_column .recent_post div {
    overflow: hidden; }
    .header .side_column .recent_post div img {
      height: 140px;
      width: 339px; }
    .header .side_column .recent_post div .tag_on_image {
      padding: 8px 15px;
      text-transform: none;
      letter-spacing: 0px;
      -webkit-border-radius: 3px;
      background: #ec6a2a;
      color: #fff; }
  .header .side_column .instagram_widgets .image_widget a img {
    margin: 0px 2px 2px 0px; }
  .header .instagram_footer .instagram_image_widget {
    float: left;
    width: 20%; }
  .header .pagination_custom {
    width: 30%;
    margin: 0 auto; }
    .header .pagination_custom a {
      display: inline-block;
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size: 12px;
      margin-right: 4px;
      text-align: center;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      font-weight: bold;
      color: #929292;
      background-color: #f0f0f0;
      text-decoration: none;
      margin-right: 2px; }
      .header .pagination_custom a:hover {
        color: #ffffff;
        background-color: #ec6a2a; }
      .header .pagination_custom a:active {
        color: #ffffff;
        background-color: #ec6a2a; }
  .header .section_5 .footer_wrapper {
    background-color: #1c2433;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 40px; }
    .header .section_5 .footer_wrapper .widget_footer_title {
      font-weight: 700;
      font-size: 16px;
      color: #fff;
      line-height: 1.2; }
    .header .section_5 .footer_wrapper .widget_footer_subtitle ul {
      list-style: none; }
      .header .section_5 .footer_wrapper .widget_footer_subtitle ul li {
        float: left;
        width: 40%;
        margin-bottom: 8px; }
  .header .section_5 .copyright_wrapper {
    background-color: #1c2433;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 38px;
    padding-top: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    color: #98a5b9;
    background-color: #212a39; }
    .header .section_5 .copyright_wrapper .copyright_left {
      float: left; }
    .header .section_5 .copyright_wrapper .copyright_right {
      float: right; }
      .header .section_5 .copyright_wrapper .copyright_right a {
        float: left;
        text-decoration: none;
        border-color: #f4f4f4;
        color: #98a5b9;
        text-transform: none;
        margin-right: 6px; }
  .header .section_5 .back_to_top_button a {
    right: 30px; }
  .header .section_5 .recent_post_button a {
    left: 30px; }
  .header .section_5 .recent_post_bar {
    padding: 16px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #fff;
    z-index: 9;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 30px;
    font-size: 22px;
    cursor: pointer; }
    .header .section_5 .recent_post_bar .recent_post_bar_close {
      position: absolute;
      top: 50%;
      margin-top: -16px;
      left: 30px;
      font-size: 22px;
      cursor: pointer; }
    .header .section_5 .recent_post_bar .recent_post_bar_container {
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      padding-right: 20px; }
      .header .section_5 .recent_post_bar .recent_post_bar_container .recent_bar_wrap_title {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 15px;
        margin-bottom: 0px;
        float: left;
        margin-right: 40px;
        letter-spacing: 2px; }
      .header .section_5 .recent_post_bar .recent_post_bar_container .recent_post_bar_item {
        float: left;
        position: relative;
        float: left;
        margin-right: 10px;
        max-width: 45px; }
        .header .section_5 .recent_post_bar .recent_post_bar_container .recent_post_bar_item:after {
          content: " ";
          display: block;
          clear: both;
          visibility: hidden;
          line-height: 0;
          height: 0; }
        .header .section_5 .recent_post_bar .recent_post_bar_container .recent_post_bar_item .recent_post_bar_item_shadow {
          opacity: 0;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          -webkit-transition: opacity 150ms; }
          .header .section_5 .recent_post_bar .recent_post_bar_container .recent_post_bar_item .recent_post_bar_item_shadow a {
            display: block;
            overflow: hidden;
            position: relative; }
            .header .section_5 .recent_post_bar .recent_post_bar_container .recent_post_bar_item .recent_post_bar_item_shadow a img {
              width: 150px;
              height: 150px; }

/*# sourceMappingURL=style.css.map */
