<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="navbar4.css">
</head>
<body>

<main>
  <h1>Full Screen Navigation Overlay</h1>
  <h2>An example of a full screen navigation overlay utilizing flexbox.</h2>
  <button class="toggle-overlay">Toggle Me</button>
</main>


<aside>
  <div class="outer-close toggle-overlay">
    <a class="close"><span></span></a>
  </div>
  <nav>
    <ul>
      <li><a href="#!">Features</a></li>
      <li><a href="#!">Pricing</a></li>
      <li><a href="#!">Documentation</a></li>
      <li><a href="#!">About</a></li>
    </ul>
  </nav>
</aside>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
(function($) {
  $(function() {
    $('.toggle-overlay').click(function() {
      $('aside').toggleClass('open');
    });
    
     $('ul > li').each(function(i) {
      console.log(i)
     $(this).delay((i +1)*250).fadeIn(7000);
    //   $(this).delay(delay).fadeIn(4000);
    //   delay += 250;
     });  
    
  });
})(jQuery);
</script>
     
</body>
</html>
