<html>
	<header>
	</header>
	<link rel="stylesheet" href="../assets/css/slide-in-fixed-header.css">
	<body>
		<ul class="menu" id="fixed">
    <li>Home</li>
    <li>About</li>
    <li>Services</li>
    <li>Contacts</li>
</ul>

<main class="site-main">
    <section class="about">
        <div class="container">About us</div>
    </section>
    <section class="content">
        <div class="container">
            <p><img src="http://placehold.it/1024x800"/></p>
            <p><img src="http://placehold.it/1024x800"/></p>
            <p><img src="http://placehold.it/1024x800"/></p>
            <p><img src="http://placehold.it/1024x800"/></p>
        </div>
    </section>
</main>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="../assets/js/slide-in-fixed-header.js"></script>
	</body>
</html>