<html>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="scripts.js"></script>
	<body>
		
	<!-- <input type="checkbox" id="op"></input>
	 -->
<!-- 		<a href=""><i class="fa fa-bars menu-btn" id="open-menu" alt="menu"></i></a>
 -->
<!-- <input type="checkbox" id="op"></input> -->
		<a href=""><i class="fa fa-bars menu-btn" id="open-menu" alt="menu"></i></a>

<div class="lower">
  <label for="op">click the text</label>
</div>
<div class="overlay overlay-hugeinc">
			<label for="op"></label>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Work</a></li>
					<li><a href="#">Clients</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
</div>


	</body>	
</html>